USE [master]
GO
/****** Object:  Database [CybersportDb]    Script Date: 10.05.2020 18:23:22 ******/
CREATE DATABASE [CybersportDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CybersportDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CybersportDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CybersportDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CybersportDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CybersportDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CybersportDb]
GO
/****** Object:  Table [dbo].[AccountStatuses]    Script Date: 10.05.2020 18:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountStatuses](
	[AccountStatusId] [int] NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
 CONSTRAINT [AccountStatuses_PK] PRIMARY KEY CLUSTERED 
(
	[AccountStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 10.05.2020 18:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Flag] [varbinary](max) NULL,
 CONSTRAINT [Countries_PK] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disciplines]    Script Date: 10.05.2020 18:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disciplines](
	[DisciplineId] [int] NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [Disciplines_PK] PRIMARY KEY CLUSTERED 
(
	[DisciplineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 10.05.2020 18:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[SenderId] [uniqueidentifier] NOT NULL,
	[RecipientId] [uniqueidentifier] NOT NULL,
	[MessageId] [uniqueidentifier] NOT NULL,
	[MessageText] [nvarchar](max) NOT NULL,
	[MessageTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Messages_1] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayersInformation]    Script Date: 10.05.2020 18:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayersInformation](
	[UserId] [uniqueidentifier] NOT NULL,
	[RatingId] [int] NOT NULL,
	[DisciplineId] [int] NOT NULL,
	[AccountStatusId] [int] NOT NULL,
	[TotalEarnings] [money] NOT NULL,
	[CareerStartYear] [int] NOT NULL,
 CONSTRAINT [PK_PlayersInformation] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 10.05.2020 18:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratings](
	[RatingId] [int] NOT NULL,
	[RatingValue] [nvarchar](15) NOT NULL,
 CONSTRAINT [Ratings_PK] PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10.05.2020 18:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [Roles_PK] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 10.05.2020 18:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamId] [int] NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[ShortName] [nvarchar](8) NULL,
	[DisciplineId] [int] NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [Teams_PK] PRIMARY KEY CLUSTERED 
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tournaments]    Script Date: 10.05.2020 18:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tournaments](
	[TournamentId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PrizePool] [money] NOT NULL,
	[FirstPlacePrize] [money] NOT NULL,
	[SecondPlacePrize] [money] NOT NULL,
	[ThirdPlacePrize] [money] NOT NULL,
	[StartDate] [datetimeoffset](7) NULL,
	[EndDate] [datetimeoffset](7) NULL,
	[Participants] [int] NOT NULL,
	[TournamentTypeId] [int] NOT NULL,
	[DisciplineId] [int] NOT NULL,
 CONSTRAINT [Tournaments_PK] PRIMARY KEY CLUSTERED 
(
	[TournamentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentsTypes]    Script Date: 10.05.2020 18:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentsTypes](
	[TournamentTypeId] [int] NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [TournamentsTypes_PK] PRIMARY KEY CLUSTERED 
(
	[TournamentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentsWins]    Script Date: 10.05.2020 18:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentsWins](
	[UserId] [uniqueidentifier] NOT NULL,
	[TournamentId] [int] NOT NULL,
	[Place] [int] NOT NULL,
	[Prize] [money] NULL,
 CONSTRAINT [PK_TournamentsWins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[TournamentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.05.2020 18:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[SecondName] [nvarchar](30) NULL,
	[BirthDate] [datetimeoffset](7) NOT NULL,
	[CountryId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[TeamId] [int] NULL,
	[Photo] [varbinary](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AccountStatuses] ([AccountStatusId], [Status]) VALUES (1, N'Verified')
INSERT [dbo].[AccountStatuses] ([AccountStatusId], [Status]) VALUES (2, N'Not verified')
INSERT [dbo].[Countries] ([CountryId], [Name], [Flag]) VALUES (1, N'Europe', NULL)
INSERT [dbo].[Countries] ([CountryId], [Name], [Flag]) VALUES (2, N'China', NULL)
INSERT [dbo].[Countries] ([CountryId], [Name], [Flag]) VALUES (3, N'United States Of America', NULL)
INSERT [dbo].[Disciplines] ([DisciplineId], [Name]) VALUES (0, N'No discipline')
INSERT [dbo].[Disciplines] ([DisciplineId], [Name]) VALUES (1, N'DOTA 2')
INSERT [dbo].[Disciplines] ([DisciplineId], [Name]) VALUES (2, N'CS:GO')
INSERT [dbo].[PlayersInformation] ([UserId], [RatingId], [DisciplineId], [AccountStatusId], [TotalEarnings], [CareerStartYear]) VALUES (N'13fbc11f-a8ab-4e45-8f43-001ba90861a9', 0, 1, 1, 0.0000, 0)
INSERT [dbo].[PlayersInformation] ([UserId], [RatingId], [DisciplineId], [AccountStatusId], [TotalEarnings], [CareerStartYear]) VALUES (N'82be1f78-4f85-42fa-85b1-15b41897693a', 0, 1, 1, 0.0000, 0)
INSERT [dbo].[PlayersInformation] ([UserId], [RatingId], [DisciplineId], [AccountStatusId], [TotalEarnings], [CareerStartYear]) VALUES (N'4cd404b5-f48c-4543-b5d7-190eb4590da9', 0, 1, 1, 0.0000, 0)
INSERT [dbo].[Ratings] ([RatingId], [RatingValue]) VALUES (0, N'Not stated')
INSERT [dbo].[Ratings] ([RatingId], [RatingValue]) VALUES (1, N'<2000 MMR')
INSERT [dbo].[Ratings] ([RatingId], [RatingValue]) VALUES (2, N'2000-3000 MMR')
INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (1, N'Administrator')
INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (2, N'Player')
INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (3, N'Team manager')
INSERT [dbo].[Teams] ([TeamId], [Name], [ShortName], [DisciplineId], [CountryId]) VALUES (1, N'Team Secret', N'TS', 1, 1)
INSERT [dbo].[Teams] ([TeamId], [Name], [ShortName], [DisciplineId], [CountryId]) VALUES (2, N'Virtus.pro', N'VP', 1, 6)
INSERT [dbo].[Teams] ([TeamId], [Name], [ShortName], [DisciplineId], [CountryId]) VALUES (3, N'Vici Gaming', N'VG', 1, 2)
INSERT [dbo].[Tournaments] ([TournamentId], [Name], [PrizePool], [FirstPlacePrize], [SecondPlacePrize], [ThirdPlacePrize], [StartDate], [EndDate], [Participants], [TournamentTypeId], [DisciplineId]) VALUES (1, N'The International 2019', 34260012.0000, 15588305.0000, 4453802.0000, 3083401.0000, CAST(N'2019-08-15T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2019-08-25T00:00:00.0000000+00:00' AS DateTimeOffset), 18, 1, 1)
INSERT [dbo].[Tournaments] ([TournamentId], [Name], [PrizePool], [FirstPlacePrize], [SecondPlacePrize], [ThirdPlacePrize], [StartDate], [EndDate], [Participants], [TournamentTypeId], [DisciplineId]) VALUES (2, N'The Summit S12', 150000.0000, 50000.0000, 25000.0000, 13000.0000, CAST(N'2020-03-10T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2020-03-13T00:00:00.0000000+00:00' AS DateTimeOffset), 6, 1, 1)
INSERT [dbo].[Tournaments] ([TournamentId], [Name], [PrizePool], [FirstPlacePrize], [SecondPlacePrize], [ThirdPlacePrize], [StartDate], [EndDate], [Participants], [TournamentTypeId], [DisciplineId]) VALUES (3, N'SL ImbaTV Minor S3', 300000.0000, 72000.0000, 60000.0000, 54000.0000, CAST(N'2020-03-05T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2020-03-10T00:00:00.0000000+00:00' AS DateTimeOffset), 8, 2, 1)
INSERT [dbo].[TournamentsTypes] ([TournamentTypeId], [Name]) VALUES (1, N'Major')
INSERT [dbo].[TournamentsTypes] ([TournamentTypeId], [Name]) VALUES (2, N'Minor')
INSERT [dbo].[Users] ([UserId], [Login], [Password], [LastName], [Name], [SecondName], [BirthDate], [CountryId], [RoleId], [TeamId], [Photo]) VALUES (N'13fbc11f-a8ab-4e45-8f43-001ba90861a9', N'Puppey', N'9#2Pupp@1', N'Ivanov', N'Clement', NULL, CAST(N'1990-03-06T00:00:00.0000000+00:00' AS DateTimeOffset), 11, 2, 1, NULL)
INSERT [dbo].[Users] ([UserId], [Login], [Password], [LastName], [Name], [SecondName], [BirthDate], [CountryId], [RoleId], [TeamId], [Photo]) VALUES (N'82be1f78-4f85-42fa-85b1-15b41897693a', N'RodjER', N'Rod1237#Vla', N'Nikoghosyan', N'Vladimir', NULL, CAST(N'1993-12-14T00:00:00.0000000+00:00' AS DateTimeOffset), 6, 2, 19, NULL)
INSERT [dbo].[Users] ([UserId], [Login], [Password], [LastName], [Name], [SecondName], [BirthDate], [CountryId], [RoleId], [TeamId], [Photo]) VALUES (N'4cd404b5-f48c-4543-b5d7-190eb4590da9', N'9pasha', N'Pa642%3Khv', N'Khvastunov', N'Pavel', NULL, CAST(N'1992-06-30T00:00:00.0000000+00:00' AS DateTimeOffset), 6, 2, 13, NULL)
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [Messages_Users_First_FK] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [Messages_Users_First_FK]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [Messages_Users_Second_FK] FOREIGN KEY([RecipientId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [Messages_Users_Second_FK]
GO
ALTER TABLE [dbo].[PlayersInformation]  WITH CHECK ADD  CONSTRAINT [PlayersInformation_AccountStatuses_FK] FOREIGN KEY([AccountStatusId])
REFERENCES [dbo].[AccountStatuses] ([AccountStatusId])
GO
ALTER TABLE [dbo].[PlayersInformation] CHECK CONSTRAINT [PlayersInformation_AccountStatuses_FK]
GO
ALTER TABLE [dbo].[PlayersInformation]  WITH CHECK ADD  CONSTRAINT [PlayersInformation_Ratings_FK] FOREIGN KEY([RatingId])
REFERENCES [dbo].[Ratings] ([RatingId])
GO
ALTER TABLE [dbo].[PlayersInformation] CHECK CONSTRAINT [PlayersInformation_Ratings_FK]
GO
ALTER TABLE [dbo].[PlayersInformation]  WITH CHECK ADD  CONSTRAINT [PlayersInformation_Users_FK] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PlayersInformation] CHECK CONSTRAINT [PlayersInformation_Users_FK]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [Teams_Countries_FK] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [Teams_Countries_FK]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [Teams_Disciplines_FK] FOREIGN KEY([DisciplineId])
REFERENCES [dbo].[Disciplines] ([DisciplineId])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [Teams_Disciplines_FK]
GO
ALTER TABLE [dbo].[Tournaments]  WITH CHECK ADD  CONSTRAINT [Tournaments_DisciplineId_FK] FOREIGN KEY([DisciplineId])
REFERENCES [dbo].[Disciplines] ([DisciplineId])
GO
ALTER TABLE [dbo].[Tournaments] CHECK CONSTRAINT [Tournaments_DisciplineId_FK]
GO
ALTER TABLE [dbo].[Tournaments]  WITH CHECK ADD  CONSTRAINT [Tournaments_TournamentsTypes_FK] FOREIGN KEY([TournamentTypeId])
REFERENCES [dbo].[TournamentsTypes] ([TournamentTypeId])
GO
ALTER TABLE [dbo].[Tournaments] CHECK CONSTRAINT [Tournaments_TournamentsTypes_FK]
GO
ALTER TABLE [dbo].[TournamentsWins]  WITH CHECK ADD  CONSTRAINT [TournamentsWins_PlayersInformation_FK] FOREIGN KEY([UserId])
REFERENCES [dbo].[PlayersInformation] ([UserId])
GO
ALTER TABLE [dbo].[TournamentsWins] CHECK CONSTRAINT [TournamentsWins_PlayersInformation_FK]
GO
ALTER TABLE [dbo].[TournamentsWins]  WITH CHECK ADD  CONSTRAINT [TournamentsWins_Tournaments_FK] FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournaments] ([TournamentId])
GO
ALTER TABLE [dbo].[TournamentsWins] CHECK CONSTRAINT [TournamentsWins_Tournaments_FK]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [Users_Countries_FK] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [Users_Countries_FK]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [Users_Roles_FK] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [Users_Roles_FK]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [Users_Teams_FK] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([TeamId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [Users_Teams_FK]
GO
/****** Object:  StoredProcedure [dbo].[GetUser]    Script Date: 10.05.2020 18:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[GetUser](
@login as nvarchar(50),
@password as nvarchar(20))
as
	select *
	from Users
	where Login = @login 
	and Password = @password
return
GO
USE [master]
GO
